.name {
  padding: 0 10px;;
}

.rank {
  border-radius: 0.4rem;
  background-color: #000;
  color: #fff;
  padding: 3px 8px;
  font-weight: 500;
  position: absolute;
  right: 20px;
  top: 20px;
}

a button.ant-btn-primary:first-child {
  margin-right: 10px;
}

.ant-layout-content .ant-typography .anticon-heart {
  position: absolute;
  right: 20px;
  top: 60px;
}